* {
    margin: 0px;
    padding: 0px;
    /* width: 0px; */



}

.navbar {
    display: flex;
    list-style-type: none;
    background-color: white;
    height: 80px;
}

.left>h1 {
    /* border: 2px solid red; */
    margin: 15px;
}

.center {
    /* border: 2px solid red; */
    display: flex;

}

.center>ul {
    display: flex;
}

.center>ul>li {
    list-style-type: none;
    margin: 25px;
}

.center>ul>li:hover {
    color: grey;
}

.right {
    /* border: 2px solid red; */
    display: flex;
    margin-left: 200px;
}

.right>ul {
    display: flex;

}

.right>ul>li {
    list-style-type: none;
    margin: 25px 25px;

    /* margin-left: 100px; */
}

.right>ul>li:hover {
    color: grey;
}

.button {
    /* border: 2px solid red; */
    padding: 16px;
}

.button>button {
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: 2px solid #0061fe;
    background-color: #0061fe;
    color: white;
    font-weight: 400;

}

.hero {
    display: flex;
    /* border: 2px solid red; */
    height: 800px;
    box-sizing: border-box;
    background-color: #f7f5f2;

}

.hero-left {
    /* border: 2px solid yellow; */
    /* background-color: orangered; */
    width: 50%;
    /* margin-right: 50%; */
    padding-left: 20px;
    padding-top: 200px;
    font-size: 22px;
}

.hero>.hero-left>p {

    text-align: left;
    color: #404b5f;

    /* margin-top: 250px; */
    /* padding-top: 200px; */


}

.herobutton {
    display: flex;
    box-sizing: border-box;

}

.herobutton>a {
    /* border: 2px solid red; */
    margin-left: 20px;
    padding-top: 35px;
    color: black;
    font-size: 20px;
    text-decoration: none;

}

.herobutton>button {
    border: 2px solid #0061fe;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #0061fe;
    font-size: 18px;
    color: white;
    /* margin-bottom: 400px; */
}

.hero-right>video {
    /* height: 250px; */
    /* width: 50%; */
    /* margin-left: 50%; */
    /* border: 2px solid grey; */
    width: 100%;
}

.second {
    /* border: 2px solid red; */
    height: 600px;
    background-color: #f7f5f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* stack items vertically */
    /* center horizontally */
    /* gap: S15px; */
}

.onebutton>button {
    /* border: 2px solid red; */
    padding: 8px 30px 8px 30px;
    margin-top: 130px;
    border-radius: 20px;
    color: #f7f5f2;
    background-color: #283750;
    border: 2px solid #283750;

}

.second>h1 {
    margin-top: 10px;
}

.p1 {
    color: #404b5f;
    margin-top: 20px;
}

.p2 {
    color: #404b5f;
    margin-top: 5px;
}

.twobutton>button {
    border: 2px solid #283750;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    border-radius: 12px;
    color: #283750;
    /* background-color: #283750; */
    /* font-weight: 20px; */

}


.third {
    background-color: #f7f5f2;
    height: 700px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    right: 40px;
    z-index: 1;

}

.myvideo video {
    position: relative;
    left: 100px;
    z-index: 2;

}

.fourth {
    /* border: 2px solid red; */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fourthbutton button {
    padding: 6px 15px 6px 15px;
    margin-top: 100px;
    border-radius: 20px;
    color: #f7f5f2;
    background-color: #be4b0a;
    border: 2px solid #be4b0a;

}

.fourth>h1 {
    margin-top: 10px;
}

.fourthp1 {
    color: #542A3ED1;
    margin-top: 20px;
    font-size: 18px;

}

.fourthp2 {
    color: #542A3ED1;
    margin-top: 5px;
    font-size: 18px;

}

.fourthp3 {
    color: #542A3ED1;
    margin-top: 5px;
    font-size: 18px;
}

.fourthsubsection {
    /* border: 1px solid yellow; */
    width: 400px;
    display: flex;
}

.sub-button button {
    border: 2px solid #283750;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    border-radius: 12px;
    color: #283750;
    background-color: white;
    font-size: 14px;
    /* right: 20px; */
}

.fourthsubsection a {
    /* border: 2px solid orangered; */
    margin-left: 40px;
    margin-top: 47px;
    font-size: 20px;
    color: black;

}

.fifthbutton button {
    padding: 6px 15px 6px 15px;
    margin-top: 100px;
    border-radius: 20px;
    color: #f7f5f2;
    background-color: #9b0032;
    border: 2px solid #9b0032;
}


.greysection {
    /* border: 2px solid red; */
    height: 900px;
    margin: 01px 40px 0px 40px;
    background-color: #1F2225;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.greysection h1 {
    margin-top: 50px;
}

.greyp1 {
    margin-top: 25px;
    font-size: 18px;

}

.greyp2 {
    margin-top: 7px;
    font-size: 18px;

}

.greybuttons {
    /* border: 1px solid yellow; */
    width: 400px;
    display: flex;
    /* border: 2px solid yellow; */
}

.greybtn1 button {
    border: 2px solid white;
    padding: 20px 50px 20px 50px;
    margin-top: 35px;
    border-radius: 12px;
    color: #283750;
    background-color: #1F2225;
    font-size: 14px;
    color: white;
    /* right: 20px; */
}

.greybuttons a {
    /* border: 2px solid orangered; */
    margin-left: 40px;
    margin-top: 50px;
    font-size: 20px;
    color: white;

}

.greypics {

    /* border: 2px solid yellow; */
    height: 600px;
    display: flex;
}

.greypic1 {
    margin-top: 160px;
    position: relative;
    left: 150px;
    z-index: 1;
}

.greypic2 {
    margin-top: 110px;
    position: relative;
    left: 30px;
    z-index: 2;
}

.greypic3 {
    margin-top: 130px;
    position: relative;
    right: 90px;
    z-index: 3;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0px 55px 0px;
    font-size: 20px;

}


.gray-section {
    background-color: #1f2225;
    padding: 60px;
    color: white;
    font-family: Arial, sans-serif;
}

.gray-section h2 {
    margin-bottom: 40px;
}


.cards-container {
    display: flex;
    gap: 40px;
}

.cards-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #f7f5f2;
    padding: 16px;
    border-radius: 14px;
    transition: transform 0.3s ease;
    margin: 0px 30px;

    /* padding:0px 30px 0px 30px; */

}


.card img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
}


.card-text h3 {
    font-size: 18px;
    margin-bottom: 6px;
    font-size: 25px;
}

.card-text p {
    font-size: 14px;
    color: grey;
    font-size: 20px;
    text-align: left;
}

.card-text a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 500;

}

.card-text a:hover {
    text-decoration: underline;
}

.cardsection3 {
    /* border: 2px solid red; */
    height: 1000px;
    margin-top: 60px;
    background-color: #f7f5f2;
}

.cardsection3-h1 {
    text-align: center;
    margin: 60px;
    font-size: 44px;
    /* border: 2px solid yellow; */
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.card1 {
    /* border: 2px solid red; */
    margin: 20px;
    text-align: left;
    font-size: 12px;
    margin-left: 40px;
    border-radius: 8px;
    background-color: white;


}

.card2 {
    /* border: 2px solid red; */
    margin: 20px;
    text-align: left;
    font-size: 12px;
    border-radius: 8px;
    background-color: white;


}

.card3 {
    /* border: 2px solid red; */
    margin: 20px;
    text-align: left;
    font-size: 12px;
    border-radius: 8px;
    background-color: white;

}

.main img {
    border-radius: 5px;
}

.main h1 {
    margin-top: 30px;
}

.main p {
    margin-top: 20px;
    font-size: 20px;

}

.main a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 16px;
    color: black;
    font-size: 20px;
}
.heading3{
    color:#0061fe;
    text-align: center;
    /* border: 2px solid red; */
    margin: 40px;
}


.middlepara {
    /* border: 2px solid red; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.para1{
    color: black;
    margin-top: 5px;
    font-size: 18px;
    text-align: left;

}
.para2{
    color: black;
    margin-top: 2px;
    font-size: 18px;
        text-align: left;


}

.para3{
   
    color: black;
    margin-top: 5px;
    font-size: 18px;
        text-align: left;
        /* border: 2px solid yellow; */
        


}



.db-footer {
  background-color: #17181a;
  padding: 60px 0 30px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.db-footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 80px;
  padding: 0 20px;
}

.db-col h2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}

.db-col ul {
  list-style: none;
  padding: 0;
}

.db-col ul li {
  margin-bottom: 10px;
}

.db-col ul li a {
  text-decoration: none;
   color: white;
  font-size: 14px;
}

.db-col ul li a:hover {
  text-decoration: underline;
  color: white;
}

.db-footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: white;
}
