* {
    margin: 0px;
    padding: 0px;
    /* width: 0px; */



}

.navbar {
    display: flex;
    list-style-type: none;
    background-color: white;
    height: 80px;
}

.left>h1 {
    /* border: 2px solid red; */
    margin: 15px;
}

.center {
    /* border: 2px solid red; */
    display: flex;

}

.center>ul {
    display: flex;
}

.center>ul>li {
    list-style-type: none;
    margin: 25px;
}

.center>ul>li:hover {
    color: grey;
}

.right {
    /* border: 2px solid red; */
    display: flex;
    margin-left: 200px;
}

.right>ul {
    display: flex;

}

.right>ul>li {
    list-style-type: none;
    margin: 25px 25px;

    /* margin-left: 100px; */
}

.right>ul>li:hover {
    color: grey;
}

.button {
    /* border: 2px solid red; */
    padding: 16px;
}

.button>button {
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: 2px solid #0061fe;
    background-color: #0061fe;
    color: white;
    font-weight: 400;

}

.hero {
    display: flex;
    /* border: 2px solid red; */
    height: 800px;
    box-sizing: border-box;
    background-color: #f7f5f2;

}

.hero-left {
    /* border: 2px solid yellow; */
    /* background-color: orangered; */
    width: 50%;
    /* margin-right: 50%; */
    padding-left: 20px;
    padding-top: 200px;
    font-size: 22px;
}

.hero>.hero-left>p {

    text-align: left;
    color: #404b5f;

    /* margin-top: 250px; */
    /* padding-top: 200px; */


}

.herobutton {
    display: flex;
    box-sizing: border-box;

}

.herobutton>a {
    /* border: 2px solid red; */
    margin-left: 20px;
    padding-top: 35px;
    color: black;
    font-size: 20px;
    text-decoration: none;

}

.herobutton>button {
    border: 2px solid #0061fe;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #0061fe;
    font-size: 18px;
    color: white;
    /* margin-bottom: 400px; */
}

.hero-right>video {
    /* height: 250px; */
    /* width: 50%; */
    /* margin-left: 50%; */
    /* border: 2px solid grey; */
    width: 100%;
}

.second {
    /* border: 2px solid red; */
    height: 600px;
    background-color: #f7f5f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* stack items vertically */
    /* center horizontally */
    /* gap: S15px; */
}

.onebutton>button {
    /* border: 2px solid red; */
    padding: 8px 30px 8px 30px;
    margin-top: 130px;
    border-radius: 20px;
    color: #f7f5f2;
    background-color: #283750;
    border: 2px solid #283750;

}

.second>h1 {
    margin-top: 10px;
}

.p1 {
    color: #404b5f;
    margin-top: 20px;
}

.p2 {
    color: #404b5f;
    margin-top: 5px;
}

.twobutton>button {
    border: 2px solid #283750;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    border-radius: 12px;
    color: #283750;
    /* background-color: #283750; */
    /* font-weight: 20px; */

}


.third {
    background-color: #f7f5f2;
    height: 700px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    left: 40px;
    z-index: 1;

}

.myvideo video {
    position: relative;
    left: 100px;
    z-index: 2;

}

.fourth {
    /* border: 2px solid red; */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fourthbutton button {
    padding: 6px 15px 6px 15px;
    margin-top: 100px;
    border-radius: 20px;
    color: #f7f5f2;
    background-color: #be4b0a;
    border: 2px solid #be4b0a;

}

.fourth>h1 {
    margin-top: 10px;
}

.fourthp1 {
    color: #542A3ED1;
    margin-top: 20px;
    font-size: 18px;

}

.fourthp2 {
    color: #542A3ED1;
    margin-top: 5px;
    font-size: 18px;

}

.fourthp3 {
    color: #542A3ED1;
    margin-top: 5px;
    font-size: 18px;
}

.fourthsubsection{
    /* border: 1px solid yellow; */
    width: 400px;
    display: flex;
}
.sub-button button{
     border: 2px solid #283750;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    border-radius: 12px;
    color: #283750;
    background-color: white;
    font-size: 14px;
    /* right: 20px; */
}
.fourthsubsection a{
    /* border: 2px solid orangered; */
    margin-left: 40px;
    margin-top: 47px;
    font-size: 20px;
    color: black;
 
}

.fifthbutton button{
    padding: 6px 15px 6px 15px;
    margin-top: 100px;
    border-radius: 20px;
    color: #f7f5f2;
  background-color: #9b0032;
  border: 2px solid #9b0032 ;
}


.greysection{
    border: 2px solid red;
    height: 1600px;
    margin: 01px 40px 0px 40px;
    background-color: #1F2225;
    color: white;
       display: flex;
    flex-direction: column;
    align-items: center;
}
.greysection h1{
    margin-top: 40px;
}
/* .greysection h1{
    color: white;
} */